<!DOCTYPE html>
<html>

<head>
    <title>Final Project D.Camassa</title>
    <meta charset="utf-8" />
    <meta name="viewport" , content="Width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Final Project</a>
                <div class="navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="navbar-item">
                            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                        </li>
                        <li class="navbar-item">
                            <a class="nav-link" href="{% url 'students' %}">Student Details</a>
                        </li>
                        <li class="navbar-item">
                            <a class="nav-link" href="{% url 'enrollment' %}">Enrollment</a>
                        </li>
                        <li class="navbar-item">
                            <a class="nav-link" href="{% url 'course' %}">Course Details</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        {% if not user.is_authenticated %}
                            <ul class="navbar-nav">
                                <li class="navbar-item">
                                    <a class="btn btn-light btn-sm" role="button" href="{% url 'login' %}">Login</a>
                                </li>
                            </ul>
                        {% else %}
                        <ul class="navbar-nav">
                            <li class="navbar-item">
                                <a class="btn btn-light btn-sm" role="button" href="{% url 'logout' %}">Logout</a>
                            </li>
                        </ul>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>       
    
        {% block container %}
        <div>
            {% block content %}
            {% endblock %}
        </div>
        {% endblock %}

    </body>

</html>